@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 20px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-image: url(./images/background.svg);
  background-attachment: fixed;
  text-align: center;
  width: 800px;
}

:root {
  --primary-color: #00f0ff;
  --black: #333333;
  --secondary-color: rgb(43, 43, 43);
  --text-color: #bfbfbf;
}

.header{
  padding : 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-bottom-right-radius:20px;
  

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* main */

main {
  text-align: center;
  margin: auto;
  padding: 2rem;
  max-width: 600px;
  border-radius: 10px;
}

h2 {
  font-size: xx-large;
  margin: 2rem;
  color: var(--primary-color);
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

label{
  color: var(--text-color)
}
.input {
  font-size: 20px;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text-color)
}

#show-btn {
  background: var(--primary-color);
  border: none;
  color: black;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#result {
  font-size: x-large;
  margin: 2rem 0;
}

.output{
  background-color: var(--secondary-color);
  color:var(--text-color);
  padding: 20px;
  border-radius: 10px;
}

.dateHighlight {
  color: var(--primary-color);
  font-weight: bold;
  font-size: larger;
  font-style: italic;
}